

.table-condensed{
    font-size: 10px;
  }
.green{
  background-color: chartreuse;
  color: black;
  font-size: 16px;

}


.red{
  background-color: red;
  color: white;
  font-size: 16px;  
}


.unch{
  background-color: cyan;
  color: black;
  font-size: 16px; 

}

.f1{
  color: #ffc107;
  font-size: 19px; 


}
