
<app-header></app-header>

  <div class="jumbotron-fluid" style="background-image: url(./../../assets/aa.png); background-repeat: no-repeat;">
    <div class="container text-white">
      <br>

  <h4 class="display-5">Market Data Analytics Platform for small Traders!</h4>

  <div class="input-group mb-3">
    <input type="text" class="form-control"  [(ngModel)]="sym" placeholder="search for a NIFTY 50 EQ,FO,MCX symbols, example : TCS, CRUDEOIL-I etc." aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-danger" type="button" (click)="get_ric_data(sym)">search</button>
    </div>
  </div>



  
      
  <h1 class=" text-warning" >tSelect</h1>
  <p >Analyze and Insvest Platform</p>
  <!-- <hr class="my-4"> -->
  <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
  
  <br><br>
</div>  
</div>
<br><br>


 <div class="container">

  <div class="row">
    <div class="col">
    <h2>Before 915</h2>
    <p>  Get ready before your trading day starts</p>
  </div>
  


  </div>
  <div class="text-center">
    <h2 class="text-secondary">Nifty End of Day Reports</h2>
  </div>




  <div class="row">
    <div class="col-6 col-md-4">
      
  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header ">nifty 50 bhavcopy</div>
    <div class="card-body">
      <h5 class="card-title text-warning">The Bhavcopy Report</h5>
      <p class="card-text text-secondary">The bhavcopy report of nifty 50 equity instruments for the end of day. </p>
    </div>
    <div class="card-footer text-right text-secondary" href="/dashboard">view</div>
  </div>
  


    </div>

    <div class="col-6 col-md-4">
   
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header ">nifty next (100) bhavcopy</div>
        <div class="card-body">
          <h5 class="card-title text-warning">The Bhavcopy Report</h5>
          <p class="card-text text-secondary">The bhavcopy report of nifty 50 equity instruments for the end of day. </p>
        </div>
        <div class="card-footer text-right text-secondary">view</div>

      </div>
      

    </div>
    <div class="col-6 col-md-4">

         
  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header ">nifty 50 bulk deals</div>
    <div class="card-body">
      <h5 class="card-title text-warning">The Bulk Deal Report</h5>
      <p class="card-text text-secondary">The bulk deal report of nifty 50 equity instruments for the end of day. </p>
    </div>
    <div class="card-footer text-right text-secondary">view</div>

  </div>
  
      
    </div>


    

  </div>


  



  <hr class="bg-danger">
  

  <div class="text-center">
    <h2 class="text-secondary"> Companies in News</h2>
  </div>
  <hr class="bg-danger">

 </div>



